@tailwind base;
@tailwind components;
@tailwind utilities;

.bannermanbg {
  border-radius: 10px;
  background: #52bd94;
  width: 410px;
  margin-top: 90px;
}
.fiftydgreetik {
  transform: rotate(-15deg);
}
.btnsecond {
  width: 48.573px;
  height: 48.573px;
  transform: rotate(15deg);
  flex-shrink: 0;
  background: #FBC75E;
  padding: 12px;
  border-radius: 10px;
}
.btnthard{
    width: 40px;
height: 40px;
transform: rotate(15deg);
flex-shrink: 0;
border-radius: 10px;
background: #FFAA94;
padding: 9px;

}
.secondbannerimg {
  width: 48.573px;
  height: 48.573px;
  transform: rotate(15deg);
  flex-shrink: 0;
  background: #74C9A9;
  padding: 12px;
  border-radius: 10px;
}